@use './styles/variables' as *;

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, $background-color 0%, $surface-color 100%);
}

.app-content {
  flex-grow: 1;
  padding-top: $header-height; // Utilise la hauteur du header définie dans _variables.scss
  
  @media (max-width: 768px) {
    padding-top: $header-height; // Utilise la même hauteur pour mobile pour l'instant
  }
}
